fastapi
uvicorn
python-multipart
pytesseract
Pillow
google-generativeai
google-genai
python-dotenv
pydantic
email-validator
motor
bcrypt
python-jose[cryptography]
pdf2image
opencv-python-headless
groq
