fastapi
uvicorn
python-multipart
pytesseract
Pillow
google-generativeai
google-genai
python-dotenv
pydantic
email-validator
motor
bcrypt
python-jose[cryptography]
pdf2image
opencv-python-headless
presidio-analyzer
presidio-anonymizer
chromadb
sentence-transformers
spacy
groq
shap
torch
transformers
scipy
scispacy
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_sm-0.5.4.tar.gz
numpy==1.26.4
